certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Cython==0.29.14
Flask==1.1.2
Flask-Cors==3.0.9
gensim==3.8.3
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
MarkupSafe==1.1.1
nltk==3.5
numpy==1.19.2
psutil==5.7.3
regex==2020.10.28
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
smart-open==3.0.0
threadpoolctl==2.1.0
tqdm==4.51.0
typing==3.7.4.3
Unidecode==1.1.1
urllib3==1.25.11
Werkzeug==1.0.1
wincertstore==0.2
